@tailwind base;
@tailwind components;
@tailwind utilities;

.h-1px {
  height: 1px;
}
.h-2px {
  height: 2px;
}
.h-3px {
  height: 3px;
}
.h-4px {
  height: 4px;
}
.h-5px {
  height: 5px;
}
.h-6px {
  height: 6px;
}
.h-7px {
  height: 7px;
}
.h-8px {
  height: 8px;
}
.h-9px {
  height: 9px;
}
.h-10px {
  height: 10px;
}
.h-11px {
  height: 11px;
}
.h-12px {
  height: 12px;
}
.h-13px {
  height: 13px;
}
.h-14px {
  height: 14px;
}
.h-15px {
  height: 15px;
}
.h-16px {
  height: 16px;
}
.h-17px {
  height: 17px;
}
.h-18px {
  height: 18px;
}
.h-19px {
  height: 19px;
}
.h-20px {
  height: 20px;
}
.h-21px {
  height: 21px;
}
.h-22px {
  height: 22px;
}
.h-23px {
  height: 23px;
}
.h-24px {
  height: 24px;
}
.h-25px {
  height: 25px;
}
.h-26px {
  height: 26px;
}
.h-27px {
  height: 27px;
}
.h-28px {
  height: 28px;
}
.h-29px {
  height: 29px;
}
.h-30px {
  height: 30px;
}
.h-31px {
  height: 31px;
}
.h-32px {
  height: 32px;
}
.h-33px {
  height: 33px;
}
.h-34px {
  height: 34px;
}
.h-35px {
  height: 35px;
}
.h-36px {
  height: 36px;
}
.h-37px {
  height: 37px;
}
.h-38px {
  height: 38px;
}
.h-39px {
  height: 39px;
}
.h-40px {
  height: 40px;
}
.h-41px {
  height: 41px;
}
.h-42px {
  height: 42px;
}
.h-43px {
  height: 43px;
}
.h-44px {
  height: 44px;
}
.h-45px {
  height: 45px;
}
.h-46px {
  height: 46px;
}
.h-47px {
  height: 47px;
}
.h-48px {
  height: 48px;
}
.h-49px {
  height: 49px;
}
.h-50px {
  height: 50px;
}
.h-51px {
  height: 51px;
}
.h-52px {
  height: 52px;
}
.h-53px {
  height: 53px;
}
.h-54px {
  height: 54px;
}
.h-55px {
  height: 55px;
}
.h-56px {
  height: 56px;
}
.h-57px {
  height: 57px;
}
.h-58px {
  height: 58px;
}
.h-59px {
  height: 59px;
}
.h-60px {
  height: 60px;
}
.h-61px {
  height: 61px;
}
.h-62px {
  height: 62px;
}
.h-63px {
  height: 63px;
}
.h-64px {
  height: 64px;
}
.h-65px {
  height: 65px;
}
.h-66px {
  height: 66px;
}
.h-67px {
  height: 67px;
}
.h-68px {
  height: 68px;
}
.h-69px {
  height: 69px;
}
.h-70px {
  height: 70px;
}
.h-71px {
  height: 71px;
}
.h-72px {
  height: 72px;
}
.h-73px {
  height: 73px;
}
.h-74px {
  height: 74px;
}
.h-75px {
  height: 75px;
}
.h-76px {
  height: 76px;
}
.h-77px {
  height: 77px;
}
.h-78px {
  height: 78px;
}
.h-79px {
  height: 79px;
}
.h-80px {
  height: 80px;
}
.h-81px {
  height: 81px;
}
.h-82px {
  height: 82px;
}
.h-83px {
  height: 83px;
}
.h-84px {
  height: 84px;
}
.h-85px {
  height: 85px;
}
.h-86px {
  height: 86px;
}
.h-87px {
  height: 87px;
}
.h-88px {
  height: 88px;
}
.h-89px {
  height: 89px;
}
.h-90px {
  height: 90px;
}
.h-91px {
  height: 91px;
}
.h-92px {
  height: 92px;
}
.h-93px {
  height: 93px;
}
.h-94px {
  height: 94px;
}
.h-95px {
  height: 95px;
}
.h-96px {
  height: 96px;
}
.h-97px {
  height: 97px;
}
.h-98px {
  height: 98px;
}
.h-99px {
  height: 99px;
}
.h-100px {
  height: 100px;
}
/* .h-1px {
  height: 101px;
}
.h-1px {
  height: 102px;
}
.h-1px {
  height: 103px;
}
.h-1px {
  height: 104px;
}
.h-1px {
  height: 105px;
}
.h-1px {
  height: 106px;
}
.h-1px {
  height: 107px;
}
.h-1px {
  height: 108px;
}
.h-1px {
  height: 109px;
}
.h-1px {
  height: 110px;
}
.h-1px {
  height: 111px;
}
.h-1px {
  height: 112px;
}
.h-1px {
  height: 113px;
}
.h-1px {
  height: 114px;
}
.h-1px {
  height: 115px;
}
.h-1px {
  height: 116px;
}
.h-1px {
  height: 117px;
}
.h-1px {
  height: 118px;
}
.h-1px {
  height: 119px;
}
.h-1px {
  height: 120px;
}
.h-1px {
  height: 121px;
}
.h-1px {
  height: 122px;
}
.h-1px {
  height: 123px;
}
.h-1px {
  height: 124px;
}
.h-1px {
  height: 125px;
}
.h-1px {
  height: 126px;
}
.h-1px {
  height: 127px;
}
.h-1px {
  height: 128px;
}
.h-1px {
  height: 129px;
}
.h-1px {
  height: 130px;
}
.h-1px {
  height: 131px;
}
.h-1px {
  height: 132px;
}
.h-1px {
  height: 133px;
}
.h-1px {
  height: 134px;
}
.h-1px {
  height: 135px;
}
.h-1px {
  height: 136px;
}
.h-1px {
  height: 137px;
}
.h-1px {
  height: 138px;
}
.h-1px {
  height: 139px;
}
.h-1px {
  height: 140px;
}
.h-1px {
  height: 141px;
}
.h-1px {
  height: 142px;
}
.h-1px {
  height: 143px;
}
.h-1px {
  height: 144px;
}
.h-1px {
  height: 145px;
}
.h-1px {
  height: 146px;
}
.h-1px {
  height: 147px;
}
.h-1px {
  height: 148px;
}
.h-1px {
  height: 149px;
}
.h-1px {
  height: 150px;
} */
